table {
	width: 100%;
}

table, th, td {
	border: 1px solid;
	border-collapse: collapse;
}

th, td {
<<<<<<< HEAD
	text-align: left;
	padding: 10px 20px;
	width: 25%;
<<<<<<< HEAD
=======
}

td {
	border-top: 1px solid;
>>>>>>> origin/master
}

table {
	width: 100%;
<<<<<<< HEAD
	margin: 10px 0;
}

i {
	padding: 10px;
}

i:hover {
	cursor: pointer;
=======
	margin: 15px 0;
}

#addCourseTable td:last-child {
	text-align: right;
>>>>>>> origin/master
}

#courseListTable td:last-child {
	text-align: right;
<<<<<<< HEAD
}

#courseListTable tr:not(:first-child):hover {
	background-color: #F5F5F5;
}

#resultListTable tr:not(:first-child):hover {
	background-color: #F5F5F5;
}

#mainContainer {
	width: 100%;
}

#resultListContainer {
	margin-top: 75px;
=======
}

#mainContainer {
	margin: 0 auto;
	width: 75%;
>>>>>>> origin/master
}

#calculateButton {
	margin: 10px 0;
}

<<<<<<< HEAD
#addCourseContainer input {
	margin: 0 0 15px 15px;
}

#maxWorkloadInput {
	margin: 0 auto 15px auto;
	width: 90%;
=======
#addCourseContainer {
	margin: 50px 0;
}

#courseListContainer {
	
}

i {
	padding: 10px;
}

i:hover {
	cursor: pointer;
>>>>>>> origin/master
=======
	padding: 5px 10px;
}

h1 {
	font-weight: normal;
}

h2 {
	font-weight: normal;
}

#mainContainer {
	margin: 0 auto;
	width: 800px;
>>>>>>> parent of 5bb4143... Working on some level
}