table, th, td {
	border-collapse: collapse;
}

th, td {
	text-align: left;
	padding: 10px 20px;
	width: 25%;
}

table {
	width: 100%;
	margin: 10px 0;
}

i:hover {
	cursor: pointer;
}

tr:nth-child(even) {
	background-color: #F0F0F0;
}

.panel {
	padding: 2px;
	border-radius: 0;
}

.panel-heading {
	border-radius: 0;
}

.bolded {
	font-weight: bold;
}

.redColor {
	color: #BA2321;
}

.greenColor {
	color: #379C1C;
}

#courseListTable td:last-child {
	text-align: right;
}

#courseListTable tr:not(:first-child):hover {
	background-color: #D6DFF5;
}

#resultListTable tr:not(:first-child):hover {
	background-color: #D6DFF5;
}

#resultListTable tr:last-child {
	border-top: 1px solid;
}

#mainContainer {
	width: 100%;
}

#resultListContainer {
	margin-top: 75px;
}

#calculateButton {
	margin: 0 0 40px 0;
	width: 100px;
	height: 50px;
}

#addCourseContainer input {
	margin: 0 0 15px 15px;
}

#maxWorkloadInput {
	margin: 0 auto 15px auto;
	width: 90%;
}

#foot {
	height: 200px;
}

#warningField {
	padding-top: 14px;
	font-size: 16px;
}

#plusButton {
	width: 40px;
	height: 34px;
	padding-right: 25px;
	margin-left: 15px;
}